/* .wrapper {
    line-height: 150%;
    font-family: sans-serif;
    background-color: #FFFFFF;
    min-width: 600px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px 50px;
}

body {
    background-color: #222222;
    color: #111111;
    line-height: 150%;
    font-family: sans-serif;
}

h1 {
    color: #0C6B9E;
    font-weight: 200;
}

h2 {
    background-color: #044568;
    color: #FFFFFF;
    padding: 8px 10px;
    margin: 25px 0px 20px;
    font-weight: 200;
}

h3 {
    color: #0C6B9E;
    margin: 20px 12px 8px;
    font-size: 20px;
}
 */
